.main {
  width:100%;
  padding:20px;
  display: flex;
  flex-direction: column;
}

.iconTemp {
  display: flex;
  align-items: center;
  width: auto;
  align-self: center;
  font-size: 2.5em;
  font-weight: 700;
}

.description {
  width: auto;
  align-self: center;
  font-size: 2.5em;
  font-weight: 700;
}

.humidityWind {
  display: flex;
  width: auto;
  margin-top: 20px;
}